<button (click)="sendTokenAndRedirToOtherApp()">
  SEND JWT FROM LOCALSTORAGE TO OTHER APP
</button>

<!-- <carousel [interval]="myInterval">
    <slide class="slide-container">
        <img class="img-container" src="./../../assets/images/BobEsponja.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h1>Bob Esponja</h1>
            <p>Personagem principal da nicklodeon</p>
        </div>
    </slide>
    <slide class="slide-container">
        <img class="img-container" src="./../../assets/images/lulaMolusco.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h1>Lula Molusco</h1>>
            <p>Velho rabugento</p>
        </div>
    </slide>
    <slide class="slide-container">
        <img class="img-container" src="./../../assets/images/patrick.png" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h1>Patrick</h1>
            <p>Gordo comilão</p>
        </div>
    </slide>
</carousel> -->
